body {
  font-family: 'Atarian';
}
.gameBoard{
  background-color: #000;
  height: 640px;
}
.gryColOne{
  color: #7F0909;
}
.gryColTwo{
  color: #F7A200;
}
.slyColOne{
  color: #0D6217;
}
.slyColTwo{
  color: #AAAAAA;
}

.slyGamePiece{
  position: absolute;
  padding-left: 875px;
  padding-top: 440px;
}
.gryfGamePiece{
  position: absolute;
}
.snitch{
  position: absolute;
}
h1 {
  padding: 1rem 1rem 0 7rem;
  font-weight: bold;
}
h3{
  padding-left: 23rem;
}
h4 {
  padding: 1rem 1rem 1rem 2.5rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
}
