body {
  font-family: 'Atarian';
}
.gameBoard{
  background-color: #000;
  height: 40rem;
}
.gryColOne, .gryColThree{
  color: #7F0909;
}
.gryColTwo{
  color: #F7A200;
}
.slyColOne, .slyColThree{
  color: #0D6217;
}
.slyColTwo{
  color: #AAAAAA;
}
.slyGamePiece{
  position: absolute;
}
h1 {
  padding: 1.5rem 1.5rem 1.5rem .55rem;
  font-weight: bold;
}
p {
  font-size: 1.5rem;
  font-weight: bold;
}
